.container {
    display: block;
    width: 100%;
}

#container {
    display: flex;
    width: 100%;

}

#mybutton {
    align-content: center;
    display: flex;
    background-color:red;
    decoration: bottom;
    text-emphasis-color: white;
    font-size: 65px;
}