body{
    background: #1a0707;
    font-family: verdana, arial, helvetica;
    width: auto;
    margin: 1px 80px 1px 80px;
    text-align: center;
    padding: 5px
}


#title, .subtitle, .post-title {
    color: #e9820d;
    text-align: center;
    margin: 11px;
    border-bottom: 1px solid #dee2e6;
    font-family: verdana, arial;
    padding: 15px;

}

.photo {
    border-radius: 25px;
    border: 10px solid #dee2e6;
    padding: 10px;
}
.post-title {
    display: flex;
    font-size: 17px;
    font-style: italic;
    margin-bottom: 10px;
    border: 10px solid #cacac3;
   
}
.post-title {
    color: #cacac3;
    background-color: green;
    font-style: italic;
    text-transform: uppercase;


}
#containner-footer {
    background-color: #cacac3;
    font-style: italic;
    margin: 15px;
    padding: 5px;
    border-radius: 15px;
}

#container-articles {
    background-color: #cacac3;
    text-align: center;
    border-radius: 15px;
    text-decoration-color: #e44313;
    margin: 15px;
    padding: 5px;
    
}
.subtitle {
    color: rgb(193, 235, 6);
    background-color: red;
    border: 10px solid #cacac3;
    border-radius: 15px;


}
#header1 {
    margin: 1px;
    border-radius: 15px;
    text-align: center; 
    background-color: #e44313;
    text-shadow: #e9820d;
    margin: 15px;
    padding: 15px;
}
#header2 {
    text-align: center; 
    background-color: black;
    margin: 15px;
    padding: 15px;

}

#title {
    color: #cacac3;
    text-shadow: #e9820d;
}
.contact_list{
    list-style-type: none;
    display: inline-block;
}

.contact_list li a {
    text-decoration: none;
    color:black;
}
.name-post {
    color:#cacac3;
}
.text-site a {
    text-decoration: none;
    color:black;
}